<div class="page__footer-follow">
    <ul class="social-icons">
      {% if site.data.ui-text[site.locale].follow_label %}
        <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
      {% endif %}
  
      {% if site.footer.links %}
        {% for link in site.footer.links %}
          {% if link.label and link.url %}
            <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
          {% endif %}
        {% endfor %}
      {% endif %}
  
      {% unless site.atom_feed.hide %}
        <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
      {% endunless %}
    </ul>
  </div>
  
  <div class="page__footer-copyright"><a href="https://muziekvoerendaal.nl">Muziekvoerendaal.nl</a> &copy; {{ site.time | date: '%Y' }} is licensed under <a href="https://joinup.ec.europa.eu/sites/default/files/custom-page/attachment/2020-03/EUPL-1.2%20EN.txt" rel="nofollow">EUPL v1.2</a> |  {{ site.data.ui-text[site.locale].powered_by | default: "Powered by" }} <a href="https://prevos.eu" rel="nofollow">Hilco Prevos</a>.</div>